<template>
  <svg
    id="svg2"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    version="1.1"
    viewBox="0 0 2523.6475 4540.6831"
    inkscape:version="0.91 r"
    sodipodi:docname="FS_Gabel_gb_RGB_transp.svg"
  >
    <sodipodi:namedview
      id="namedview21"
      pagecolor="var(--fs-color-light)"
      bordercolor="var(--fs-color-gray-300)"
      borderopacity="1"
      objecttolerance="10"
      gridtolerance="10"
      guidetolerance="10"
      inkscape:pageopacity="0"
      inkscape:pageshadow="2"
      inkscape:window-width="1920"
      inkscape:window-height="1148"
      showgrid="false"
      inkscape:zoom="0.20371384"
      inkscape:cx="1261.8237"
      inkscape:cy="2270.3416"
      inkscape:window-x="0"
      inkscape:window-y="0"
      inkscape:window-maximized="1"
      inkscape:current-layer="svg2"
    />
    <defs id="defs4" />
    <metadata id="metadata7">
      <rdf:RDF>
        <cc:Work
          rdf:about=""
        >
          <dc:format>image/svg+xml</dc:format>
          <dc:type
            rdf:resource="http://purl.org/dc/dcmitype/StillImage"
          />
          <dc:title />
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g id="layer2" style="display:none">
      <rect
        id="rect4244"
        y="0"
        x="0"
        height="4540.6831"
        width="2523.6475"
        style="opacity:1;fill:#f9f5e0;fill-opacity:1;stroke:#ff9a41;stroke-width:0.96799999;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
      />
    </g>
    <g
      id="layer1"
      transform="translate(1673.2523,1097.9793)"
    >
      <g
        id="Gabel_gb_RGB"
        transform="matrix(13.123359,0,0,13.123359,-1620.7892,-1064.2922)"
      >
        <title id="title4277">Gabel_gb_RGB</title>
        <path
          id="rect4165"
          style="opacity:1;fill:#64ae24;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          d="m 129.9043,144.51172 4.44726,4.44726 -68.060943,77.08843 0.64493,20.68892 L 144.39258,159 l 4.51172,4.51172 0,-19 -10.62696,0 z"
          transform="translate(-1.525879e-5,0)"
        />
        <path
          id="rect4266"
          transform="matrix(0.70710678,-0.70710678,0.70710678,0.70710678,0,0)"
          style="opacity:1;fill:#64ae24;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          d="m -174.51451,243.25986 98.156698,0 -15.146958,14.17419 -83.00974,-9.6e-4 z"
        />
        <path
          id="path3470"
          class="st1"
          d="m 84.332291,192.78863 c 0,0 0.9,7.2 -9.9,16.6 -10.9,9.5 -7.6,19.4 -7.9,23.3 -0.2,3.9 2.8,70.7 2.8,70.7 0,0 2.5,4.6 4.2,0 l 1.8,-65.6 c 0,0 3.7,-6.5 5.1,0.2 l 2.8,64.9 c 0,0 2.8,3.7 4.2,0.2 l 2.5,-65.8 c 0,0 0.7,-2.5 2.1,-2.5 l 0.2,0 c 1.4,0 2.1,2.5 2.1,2.5 l 2.5,65.8 c 1.4,3.5 4.199999,-0.2 4.199999,-0.2 l 2.8,-64.9 c 1.4,-6.7 5.1,-0.2 5.1,-0.2 l 1.8,65.6 c 1.6,4.6 4.2,0 4.2,0 0,0 3,-66.8 2.8,-70.7 -0.2,-3.9 3,-13.9 -7.9,-23.3 -10.899999,-9.5 -9.899999,-16.6 -9.899999,-16.6 L 104.53229,40.988626 c -12.499999,-12.5 -23.599999,0 -23.599999,0 l 3.4,152.800004"
          style="fill:var(--fs-color-primary-500);fill-opacity:1;stroke:none"
        />
        <path
          id="rect4266-1"
          style="opacity:1;fill:#64ae24;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          d="M 135.65428,295.41108 66.290602,226.0474 66.934861,246.737 125.63229,305.43307 Z"
        />
        <path
          id="rect4163"
          style="opacity:1;fill:#64ae24;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
          d="m 35.404297,143.81641 0,9.33398 -0.002,0.002 0.002,0.002 0,9.66211 4.509765,-4.50977 77.416018,88.42969 0.6875,-20.73252 -68.058596,-77.74209 4.445313,-4.44531 -8.337891,0 z"
          transform="translate(-1.525879e-5,0)"
        />
      </g>
    </g>
  </svg>
</template>
