<tr>
    <td height="20" valign="top" style="background-color:#FAF7E5">
        <div style="text-align:center;padding-top:10px;font-size:11px;font-family:Arial;padding:15px;color:#594129;">
            {{ 'email_template.newsletter.unsubscribe'|trans }} <a style="color:#F36933" href="https://foodsharing.de/login?sub=unsubscribe&t={{ TOKEN }}&e={{ EMAIL }}" target="_blank">{{ 'email_template.newsletter.linktext'|trans }}  </a>
            {{ 'email_template.dont_respond.you_can'|trans }} <a style="color:#F36933" href="https://foodsharing.de/?page=settings&sub=info" target="_blank">{{ 'email_template.dont_respond.notification'|trans }}</a> {{ 'email_template.dont_respond.nomail'|trans }}
        </div>
        <p style="font-size:11px;">{{ 'email_template.impress.title'|trans }}</p>
        <p style="font-size:11px;">{{ 'email_template.impress.general_information_requirements'|trans }}:</p>
        <p style="font-size:11px;">{{ 'email_template.impress.address'|trans }}</p>
    </td>
</tr>