{% extends 'layouts/default.twig' %}

{% block left %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'region-side-nav',
        component: 'RegionSideNav',
        props: {
            groupId: region.id,
        }
    } %}

{% endblock %}

{% block top %}
    {% if isRegion %}
        {% include 'pages/Region/regionTop.twig' %}
    {% else %}
        {% set subtitleGroup %}
            {{ 'group.member_count'|trans({'%count%': region.stat.num_fs}) }}, {{ 'terminology.n_sleeping'|trans({'%count%': region.stat.num_sleeping}) }}
        {% endset %}
        {% include 'partials/topbar.twig' with {
            'title': 'terminology.group'|trans ~ ' - ' ~ region.name,
            'subtitle': subtitleGroup,
            'icon': 'fa-users',
        } %}
    {% endif %}
{% endblock %}
{% block bottom %}
    {{ content.bottom.html | raw }}
{% endblock %}
