body {
  height: 100%;
  margin: 0;
  overflow: hidden !important;
  padding: 0;
  width: 100%;
}

body.page-map #topbar {
  position: absolute;
  top: 0;
  width: 100%;
}

.map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


div#main {
  position: absolute;
  width: 980px;
  z-index: 10;
  left: 50%;
  top: 0;
  margin-left: -490px;
}

.ajax-loader {
  background-color: var(--fs-color-light);
  border-radius: 10px 10px 10px 10px;
  left: 50%;
  margin-left: -21px;
  padding: 10px 10px 6px;
  position: absolute;
  top: 200px;
  z-index: 50;
}

.leaflet-popup-content p {
  margin: 5px 0;
}

#b_content ul.linklist li a img {
  float: left;
  margin-right: 8px;
}

#b_content ul.linklist li a span.name {
  height: 35px;
  line-height: 35px;
}

#b_content ul.linklist li {
  border: 0 !important;
}

#b_content a.trafficlight {
  display: inline-block;
  padding-left: 0;
  margin-right: 5px;
}

#b_content .buttonrow {
  text-align: center;
  margin-top: 8px;
}

.leaflet-top {
  top: 40px;
}

#b_content .element-wrapper,
#b_content .element-wrapper > div,
#b_content .msg-inside,
#input-wrapper > div {
  font-size: 12px;
}

#bcntverantwortlich-wrapper li {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.ui-corner-all.active > span .fa-circle {
  opacity: 1;
}
.ui-corner-all > span .fa-circle {
  opacity: 0.40;
}

/* 575px defined in stores/ui.js as xs display size */
@media (max-width: 575px) {
  .leaflet-top {
    top: 94px;
  }
}
