$primary: #533a20;
$secondary: #64ae24;
$gray: #5e636e;
$warning: #cc990e;
$success: $secondary;
$danger: #cf3a00;
$info: #006bcf;

@import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";

@function tint($color, $percentage) {
    @return mix(#FFF, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(#000, $color, $percentage);
}

$colorlist: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $gray,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
);

:root {
    /**
        Generated
    */
    @each $name, $color in $colorlist {
        $step: 110%;
        @for $i from 1 through 9 {
            $index: $i * 100;
            @if $i < 5 {
                $step: $step - 15%;
                --fs-color-#{$name}-#{$index}: #{tint($color, $step)};
            }

            @if $i == 5 {
                $step: 0%;
                --fs-color-#{$name}-#{$index}: #{$color};
            }

            @if $i > 5 {
                $step: $step + 20%;
                --fs-color-#{$name}-#{$index}: #{shade($color, $step)};
            }

        }
    }
    @each $name, $color in $colorlist {
        $step: 100;
        @for $i from 1 through 9 {
            $index: $i * 10;
            $alpha: -($step - $index) * 1%;
            --fs-color-#{$name}-alpha-#{$index}: #{scale-color($color, $alpha: $alpha)};
        }
    }
    /**
        Others
        var\(--(?!fs-color|border|size)(.+)
    */
    --fs-color-background: #{scale-color(tint($secondary, 94%), $saturation: 96%)};
    --fs-color-white: white;
    --fs-color-light: var(--fs-color-gray-100);
    --fs-color-dark: var(--fs-color-gray-600);
    --fs-color-transparent: transparent;

    --fs-color-calendar: var(--fs-color-info-400);

    --fs-color-role-ambassador: var(--fs-color-warning-500);
    --fs-color-role-storemanager: var(--fs-color-secondary-500);
    --fs-color-role-foodsaver: var(--fs-color-primary-500);
    --fs-color-role-foodsharer: var(--fs-color-primary-500);
    --fs-color-role-jumper: var(--fs-color-primary-500);

    --fs-color-type-stores: var(--fs-color-danger-500);
    --fs-color-type-baskets: var(--fs-color-secondary-500);
    --fs-color-type-foodsharepoints: var(--fs-color-warning-500);
    --fs-color-type-communities: var(--fs-color-info-500);

    --fs-color-chain-cooperating: var(--fs-color-success-500);
    --fs-color-chain-negotiating: var(--fs-color-warning-500);
    --fs-color-chain-not-cooperating: var(--fs-color-danger-500);

    --fs-border-default: var(--fs-color-primary-200);
    /**
        Shadow
        https://shadows.brumm.af/
    */
    --fs-shadow:  0px 1.2px 5.3px rgba(0, 0, 0, 0.061),
                  0px 4px 17.9px rgba(0, 0, 0, 0.089),
                  0px 18px 80px rgba(0, 0, 0, 0.15);
}
